.vs/TeaTimeDemo/FileContentIndex/69efd071-6cf9-40e0-a068-691cc83c0760.vsidx
.vs/TeaTimeDemo/v17/.suo
.vs/TeaTimeDemo/v17/DocumentLayout.json
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.AssemblyInfo.cs
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.AssemblyInfoInputs.cache
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.csproj.AssemblyReference.cache
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.GeneratedMSBuildEditorConfig.editorconfig
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.RazorAssemblyInfo.cache
TeaTimeDemo/obj/Debug/net8.0/TeaTimeDemo.RazorAssemblyInfo.cs
TeaTimeDemo/bin/
TeaTimeDemo/obj/
.vs/TeaTimeDemo/DesignTimeBuild/.dtbcache.v2
